*{
    font-family: "DM Sans", sans-serif;
}

:root {
    --primary-color: #2B1B10;
}

body{
    background: #F6EEE3 !important;
}

body,
html {
  width: 100vw;
  overflow: hidden;
  padding: 0;

}

.row {
    --bs-gutter-x: 1rem !important;
}