*{
    font-family: "DM Sans", sans-serif;
}

:root {
    --primary-color: #1d4ed8;
}

body{
    background: #f0f6ff !important;
}

body,
html {
  width: 100vw;
  overflow-x: hidden;

}

.row {
    --bs-gutter-x: 1rem !important;
}